target/*
.DS_Store
.idea
*.iml

bell-ui/target
gate-ui/target
watchman-ui/target
corba-interfaces/target

corba-interfaces/bell/target
corba-interfaces/bell/bell-client/target
corba-interfaces/bell/bell-server/target

corba-interfaces/watchman/target 
corba-interfaces/watchman/watchman-client/target
corba-interfaces/watchman/watchman-server/target


corba-interfaces/bell/bell-client/src/main/java
corba-interfaces/bell/bell-server/src/main/java

corba-interfaces/watchman/watchman-client/src/main/java
corba-interfaces/watchman/watchman-server/src/main/java